body {
    font-family: Arial, Helvetica, sans-serif;
  }
  input.filed
  {
      display: none;
  }
  button.menu
  {
      background-color: transparent;
      border: none; 
      padding-top: 0.25%;
      border-radius: 4px;

  }
  .menu:active{
    outline:  #575259;
  }
   /* The Modal (background) */
   .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider2{
    position: fixed;
    display: none;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #575259;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background:  #575259;
    cursor: pointer;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ededed;
    overflow-x: hidden; 
    transition: 0.5s;
    
  }
  
  .sidenav div {
    /*padding: 10px 16px 10px 32px;*/
    padding: 12% 12% 12% 30%;
    text-decoration: none;
    font-size: 20px;
    color: #4f4f4f;
    display: block;
    transition: 0.3s;
    width:100%;
  }
  
  .sidenav div:hover {
    color: "black";
    cursor: pointer;
  }

  .sidenav div:active {
    background-color: #e3e3e3;  
  }
  
  .sidenav .closebtn {
    /*position: absolute;
    top: 6px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; */
    background-color: transparent;
    border: none; 
    /*
    padding-top: 0.25%;
    border-radius: 4px; */
    padding: 16% 16% 16% 32%;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .popup {
    position: relative;
    /*display: inline-block;*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 10;

  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    z-index: 10;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }